<div>
    <a href="{% url 'contact' letter='A' %}">A</a>
    <a href="{% url 'contact' letter='B' %}">B</a>
    <a href="{% url 'contact' letter='C' %}">C</a>
    <a href="{% url 'contact' letter='D' %}">D</a>
    <a href="{% url 'contact' letter='E' %}">E</a>
    <a href="{% url 'contact' letter='F' %}">F</a>
    <a href="{% url 'contact' letter='G' %}">G</a>
    <a href="{% url 'contact' letter='H' %}">H</a>
    <a href="{% url 'contact' letter='I' %}">I</a>
    <a href="{% url 'contact' letter='J' %}">J</a>
    <a href="{% url 'contact' letter='K' %}">K</a>
    <a href="{% url 'contact' letter='L' %}">L</a>
    <a href="{% url 'contact' letter='M' %}">M</a>
    <a href="{% url 'contact' letter='N' %}">N</a>
    <a href="{% url 'contact' letter='O' %}">O</a>
    <a href="{% url 'contact' letter='P' %}">P</a>
    <a href="{% url 'contact' letter='Q' %}">Q</a>
    <a href="{% url 'contact' letter='R' %}">R</a>
    <a href="{% url 'contact' letter='S' %}">S</a>
    <a href="{% url 'contact' letter='T' %}">T</a>
    <a href="{% url 'contact' letter='U' %}">U</a>
    <a href="{% url 'contact' letter='V' %}">V</a>
    <a href="{% url 'contact' letter='W' %}">W</a>
    <a href="{% url 'contact' letter='X' %}">X</a>
    <a href="{% url 'contact' letter='Y' %}">Y</a>
    <a href="{% url 'contact' letter='Z' %}">Z</a>
</div>