<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola {{name}}</h1>
    <h3>Categorías</h3>
    <ul>
    {% comment %}
        En la parte inferior recorremos las categorías y las pintamos.
        En caso de ser code, la categoría se muestra en negrita.
    {% endcomment %}
      {% for category in categories %}
        {% if category == 'code' %}
            <li><b>{{ category|upper }}</b></li>
        {% else %}
            <li>{{ category }}</li>
        {% endif %}
      {% endfor %}
      <h5>Total de categorías: {{categories|length}}</h5>
    </ul>
</body>
</html>