{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Juanjo Ruiz - Fotógrafo</h1>
    <div class="about">
        <img src="https://picsum.photos/300/350">
        <div class="about-content">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque quos beatae accusamus enim velit culpa eveniet corporis illo sunt, dolorem et explicabo quibusdam? Ex aut impedit consectetur enim, molestias veritatis.</p>
        </div>
    </div>
{% endblock %}